<section>
    <article class="container" style="display: flex; justify-content: start; align-items: center;">
        <div style="flex-direction: column;">
            <h1>Your awesome<br>traffic permit<br>consultant.</h1>
        <a href="">GET STARTER<i class='bx bx-last-page'></i></a>
        </div>
        <div></div>
    </article>
</section>


<section>
    <article class="container" style="display: flex; justify-content: start; align-items: center;">
        <div>
            <h3>ABOUT US</h3>
            <p>The occupational traffic permit is one of the most important things in the company when carrying out freight transport.  In fact, it is a prerequisite for doing business traffic at all. </p>
            <span>
                <p>How do you do when you need to obtain commercial traffic permit for freight transport to your business?</p>
            </span>
        </div>    
        <div>
            <img src="" alt="">
        </div>
    </article>
</section>